<div class="container">
  <div class="row">
    <div class="col">
      <a href="/"
        ><img src="https://raw.githubusercontent.com/piotrholubowicz/turtles/master/src/assets/img/title.png"
      /></a>
    </div>
  </div>
  <div *ngIf="game$ | async as game">
    <div class="row top-row">
      <div class="col-10">
        <div class="row">
          <div class="col">
            <p class="players">
              <span *ngFor="let p of game.players" [ngClass]="{ active_player: game.players[game.active_player] == p }"
                >{{ p }}<span *ngIf="player == p"> (Ty)</span>,
              </span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col-3">
            <img src="{{ yourTurnSrc() }}" *ngIf="player == game.players[game.active_player]" class="img-fluid" />
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col-2">
        <img src="{{ turtleCardSrc$ | async }}" (click)="showTurtleCard(game.colors[player])" class="turtlecard" />
        <p class="turtlecard">Kliknij mnie</p>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let card of game.hands[player]" class="col">
        <app-card
          [cardIdx]="card"
          [game]="game"
          [enabled]="game.players[game.active_player] == player"
          (played)="onPlayed($event)"
        ></app-card>
      </div>
    </div>
  </div>
</div>
