<div class="modal-header">
  <h4 class="modal-title">Wybierz żółwia</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="colorPickerFormGroup" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <p>Którego żółwia chcesz przesunąć?</p>
      <div class="form-row">
        <div *ngFor="let color of colors" class="col">
          <input
            class="form-check-input"
            type="radio"
            name="color"
            id="{{ color }}"
            value="{{ color }}"
            formControlName="color"
            required
          />
          <label class="form-check-label" for="{{ color }}"
            ><img style="width: 80%;" src="{{ turtleSrc(color) }}"
          /></label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" [disabled]="!colorPickerFormGroup.valid">
      OK
    </button>
  </div>
</form>
