<div class="container">
  <div class="row">
    <div class="col">
      <a href="/"><img src="./assets/img/title.png" /></a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p i18n="@@chooseGameOrCreateOne">Wybierz istniejącą grę lub stwórz nową.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-10">
          <h2 i18n="@@existingGames">Istniejące gry</h2>
          <div *ngIf="(games$ | async)?.length > 0; else noGames">
            <div
              *ngFor="let game of games$ | async"
              class="btn-group"
              role="group"
              style="width: 100%; margin-top: 5%;"
            >
              <div class="input-group-prepend">
                <div class="input-group-text">{{ game.id }}</div>
              </div>
              <button type="button" class="btn btn-light game" [routerLink]="['/board', game.id]" style="width: 80%;">
                {{ game.players.join(', ') }}
              </button>
              <button type="button" class="btn btn-secondary" title="delete game" (click)="delete(game)">x</button>
            </div>
          </div>
          <ng-template #noGames>
            <p i18n="@@noGames">Nie ma gier.</p>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col-6">
      <h2 i18n="@@newGame">Nowa gra</h2>
      <form>
        <div class="form-group row">
          <label class="col-2 col-form-label" i18n="@@player1">Gracz 1</label>
          <div class="col-10">
            <input class="form-control" #player1 />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" i18n="@@player2">Gracz 2</label>
          <div class="col-10">
            <input class="form-control" #player2 />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" i18n="@@player3">Gracz 3</label>
          <div class="col-10">
            <input class="form-control" #player3 />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" i18n="@@player4">Gracz 4</label>
          <div class="col-10">
            <input class="form-control" #player4 />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label" i18n="@@player5">Gracz 5</label>
          <div class="col-10">
            <input class="form-control" #player5 />
          </div>
        </div>
        <div class="form-group row">
          <!-- (click) passes input value to add() and then clears the input -->
          <button
            type="submit"
            class="btn btn-light"
            (click)="
              add([player1.value, player2.value, player3.value, player4.value, player5.value]);
              player1.value = '';
              player2.value = '';
              player3.value = '';
              player4.value = '';
              player5.value = ''
            "
            i18n="@@newGameButton"
          >
            Nowa gra
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 i18n="@@rules">Reguły</h2>
      <h4 i18n="@@rulesObjectiveHeader">Cel gry</h4>
      <p i18n="@@rulesObjective">
        Zadaniem każdego gracza jest doprowadzenie swojego żółwia jako pierwszego do grządki sałaty.
      </p>
      <h4 i18n="@@rulesFlowHeader">Przebieg gry</h4>
      <p i18n="@@rulesFlow">
        Gracz decyduje, którą z pięciu trzymanych w ręku kart wyłoży na stół. Karta te przesuwa żółwie zgodnie ze
        znajdującymi się na niej oznaczeniem:
      </p>
      <ul>
        <li>
          <span class="badge badge-secondary">++</span> -
          <span i18n="@@card1">żółw w kolorze przedstawionym na karcie porusza się o 2 pola do przodu</span>
        </li>
        <li>
          <span class="badge badge-secondary">+</span> -
          <span i18n="@@card2">żółw w kolorze przedstawionym na karcie porusza się o 1 pole do przodu</span>
        </li>
        <li>
          <span class="badge badge-secondary">-</span> -
          <span i18n="@@card3">żółw w kolorze przedstawionym na karcie porusza się o 1 pole do tyłu</span>
        </li>
        <li>
          <span class="badge badge-secondary">^^</span> -
          <span i18n="@@card4">ostatni żółw porusza się o 2 pola do przodu</span>
        </li>
        <li>
          <span class="badge badge-secondary">^</span> -
          <span i18n="@@card5">ostatni żółw porusza się o 1 pole do przodu</span>
        </li>
      </ul>
      <p i18n="@@rulesAllColors">Podczas gry gracz może przesuwać żółwie w każdym kolorze, nie tylko swój.</p>
      <p i18n="@@rulesStacking">
        Jeśli żółw wejdzie na pole, na którym znajduje się inny żółw, wchodzi na niego. Przemieszczający się żółw
        zabiera ze sobą wszystkie żółwie znajdujące się na jego skorupie.
      </p>
      <h4 i18n="@@rulesEndHeader">Koniec gry</h4>
      <p i18n="@@rulesEnd">
        Wyścig kończy się, gdy którykolwiek z żółwi znajdzie się na ostatnim polu. Wygrywa gracz, którego żółw znajduje
        się najbliżej ostatniego pola. Jeżeli kilka żółwi znajduje się jeden na drugim, wygrywa ten będący najniżej.
      </p>
    </div>
  </div>
</div>

<!-- <div *ngIf="message" class="alert alert-warning">{{ message }}</div> -->
