img.board {
  width: 100%;
  margin-top: 5%;
}

p.players {
  font-size: 100%;
}

span.active_player {
  border-bottom: 5px solid #d4d800;
}

img.meeple {
  width: 10%;
  height: auto;
  position: absolute;
}