<div *ngIf="game$ | async as game">
  <div class="row">
    <div class="col">
      <p class="players"><span *ngFor="let p of game.players" [ngClass]="{'active_player' : game.players[game.active_player] == p}">{{ p }}<span *ngIf="player == p"> (Ty)</span>, </span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img class="board" src="{{ boardSrc() }}"/>
      <img class="meeple" src="{{ turtleSrc(Color.GREEN) }}" [style.left]="left(Color.GREEN)" [style.top]="top(Color.GREEN)" [style.z-index]="zindex(Color.GREEN)"/>
      <img class="meeple" src="{{ turtleSrc(Color.RED) }}" [style.left]="left(Color.RED)" [style.top]="top(Color.RED)" [style.z-index]="zindex(Color.RED)"/>
      <img class="meeple" src="{{ turtleSrc(Color.YELLOW) }}" [style.left]="left(Color.YELLOW)" [style.top]="top(Color.YELLOW)" [style.z-index]="zindex(Color.YELLOW)"/>
      <img class="meeple" src="{{ turtleSrc(Color.BLUE) }}" [style.left]="left(Color.BLUE)" [style.top]="top(Color.BLUE)" [style.z-index]="zindex(Color.BLUE)"/>
      <img class="meeple" src="{{ turtleSrc(Color.PURPLE) }}" [style.left]="left(Color.PURPLE)" [style.top]="top(Color.PURPLE)" [style.z-index]="zindex(Color.GREEN)"/>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      deck
    </div>
    <div class="col-2">
      played
    </div>
  </div>

  <p>Gra <b>{{ game.id }}</b>:</p>

  <p *ngFor="let field of game.board">
      [ <span *ngFor="let color of field"> {{ Color[color] }}</span> ]
  </p>
  <p>Kart w talii: {{ game.deck.length }}</p>
  <p>Kart zagranych: {{ game.discarded.length }}</p>
  <p *ngIf="game.last_move">Ostatni ruch: {{Color[game.last_move.color]}} z {{game.last_move.start}} do {{game.last_move.end}}</p>
  <p *ngFor="let player of game.players">
    <a [routerLink]="['/hand', game.id, player]">{{player}}</a>
  </p>
</div>