<div class="container-fluid">
  <div class="row">
    <div class="col">
      <a href="/"><img src="/assets/img/title.png"/></a>
    </div>
  </div>
  <div *ngIf="game$ | async as game">
    <div class="row">
      <div class="col">
        <p class="players">
          <span *ngFor="let p of game.players" [ngClass]="{ active_player: game.players[game.active_player] == p }"
            >{{ p }},
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <img class="board" src="{{ boardSrc() }}" />
        <img
          *ngFor="let c of allColors"
          class="meeple"
          src="{{ turtleSrc(c) }}"
          [style.left]="left(game, c)"
          [style.top]="top(game, c)"
          [style.z-index]="zindex(game, c)"
        />
      </div>
    </div>
    <div class="row card-row">
      <div class="col-6">
        <img
          *ngFor="let card of game.deck; let i = index"
          class="movecard"
          src="{{ cardBackSrc() }}"
          [style.left]="leftMoveCard(i)"
        />
      </div>
      <div class="col-6">
        <img
          *ngFor="let card of game.discarded; let i = index"
          class="movecard"
          src="{{ cardFrontSrc(card) }}"
          [style.left]="leftMoveCard(i)"
        />
      </div>
    </div>

    <button
      *ngFor="let player of game.players"
      type="button"
      class="btn btn-secondary btn-player"
      [routerLink]="['/hand', game.id, player]"
    >
      {{ player }}
    </button>
  </div>
</div>
