<div class="modal-header">
  <h4 class="modal-title" i18n="@@gameOver">Koniec gry</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <p i18n="@@winner">Wygrał {{ winner }}!</p>
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col-4">
        <img src="{{ turtleCardSrc() }}" class="turtlecard" />
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="activeModal.close('onemore')" i18n="@@oneMore">
      Jeszcze raz!
    </button>
    <button class="btn btn-primary" (click)="activeModal.close('OK')">
      OK
    </button>
  </div>
</div>
